@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #aaa;
}

.header {
  animation-name: delayNav;
  animation-duration: 2.5s;
}
.header .navbar-menu {
  background-color: rgba(69, 63, 57, 0.8);
}
.header .navbar {
  background-color: rgba(69, 63, 57, 0.8);
  height: 20vh;
}
.header .navbar .color-nav {
  color: #FFF;
}
.header .logo img {
  border-radius: 50%;
  height: 15vh;
  margin: 0;
  padding: 0 5px;
}

@keyframes delayNav {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.img-inicio {
  background-image: url(../img/fondo.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #FFF;
}
.img-inicio p {
  font-size: 1.2rem;
  width: 50%;
  animation-name: delayNav;
  animation-duration: 2.5s;
}
.img-inicio h1 {
  font-size: 1.8rem;
  width: 50%;
  animation-name: delayNav;
  animation-duration: 2.5s;
}

.main-principal {
  width: 90%;
  margin: 10px auto;
  border: solid 1px rgba(85, 85, 85, 0.5333333333);
  border-radius: 10px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1333333333);
  padding: 20px;
  background-color: #ddd;
}

.carrusel .slide1 {
  background-image: url(../img/cervezas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  text-align: center;
  color: #000;
  opacity: 0.9;
  padding: 20% 0;
}
.carrusel .slide2 {
  background-image: url(../img/mojitos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  text-align: center;
  color: #000;
  opacity: 0.9;
  padding: 20% 0;
}
.carrusel .slide3 {
  background-image: url(../img/licuados.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  text-align: center;
  color: #000;
  opacity: 0.9;
  padding: 20% 0;
}
.carrusel h3 {
  font-size: 3rem;
}
.carrusel p {
  font-size: 1rem;
}

.sobre-nosotros {
  width: 90%;
  margin: 10px auto;
  border: solid 1px rgba(85, 85, 85, 0.5333333333);
  border-radius: 10px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1333333333);
  padding: 20px;
  background-color: #ddd;
}

.footer {
  border-top: solid 1px #111;
  height: 15vh;
  padding-top: 1rem;
  background-color: rgb(69, 63, 57);
}
.footer .red i {
  font-size: 2rem;
}
.footer .color-nav {
  color: #111;
}
.footer .color-nav:hover {
  color: #FFF;
}

.main-cerveza {
  padding: 5px 15px;
}

.img-cerveza {
  background-image: url(../img/cerveza.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 3rem;
  color: #FFF;
}

.main-contacto {
  display: flex;
  width: 100%;
  margin: 20px auto;
}

.formulario-contacto {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  border: solid 1px rgb(69, 63, 57);
  width: 100%;
}
.formulario-contacto .formulario {
  width: 80%;
}
.formulario-contacto label {
  display: block;
  padding: 5px;
}
.formulario-contacto input {
  display: block;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
}
.formulario-contacto input:focus {
  outline: solid 2px rgb(69, 63, 57);
}
.formulario-contacto textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
  margin: 5px;
}
.formulario-contacto textarea:focus {
  outline: solid 2px rgb(69, 63, 57);
}
.formulario-contacto .btn-login {
  border: none;
  padding: 15px 0;
  width: 100%;
  font-weight: bold;
  display: block;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgb(69, 63, 57);
  color: #fff;
}
.formulario-contacto .btn-login:hover {
  background-color: #222;
}

/*# sourceMappingURL=style.css.map */
