.main-cerveza{
    padding: 5px 15px;

}

.img-cerveza{
    background-image:url(../img/cerveza.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 3rem;
    color: $color-texto;
}
