@media screen and (min-width:700px) {

    * {
        font-size: 1rem;
    }

    @mixin media-tablet {
        width: 80%;
        margin: 5px auto;
    }

    .main-principal {
        @include media-tablet;

    }

    .sobre-nosotros {
        @include media-tablet;
    }

    .carrusel {
        @include media-tablet;

    }

    .main- {
        @include media-tablet;

    }

    .main-cont {
        @include media-tablet;

    }

    .main-cerveza {
        @include media-tablet;

    }

    .img-contacto {
        background-color: #212120;
        width: 40%;
        height: 80vh;
    }

    .formulario-contacto {
        width: 60%;
    }

    .main-contacto {
        width: 80%;
        margin: auto;
    }

    .main-carta {
        .carta-presentacion {
            img {
                height: 25vh;
            }
        }
    }

    .header {
        .navbar {
            height: 16vh;
        }
    }

    .header {
        .logo {
            img {
                height: 10vh;
            }
        }
    }
}

/* DESKTOP */
@media screen and (min-width:992px) {

    * {
        font-size: 1.1rem;
    }

    .header{
        .navbar {
            height: 12vh;
        }
    }

    .header{
        .logo{
            img {
            width: 100px;
            }
        }
    }
@each $selector in main-principal, sobre-nosotros, main-cerveza, carrusel, main-cont{
    .#{$selector}{
        width: 60%;
    }
}


    .header {
        .navbar-collapse {
            background-color: transparent;
        }
    }

    .img-contacto {
        width: 50%;
        height: 80vh;
    }

    .formulario-contacto {
        width: 50%;
    }

    .main-contacto {
        padding: 20px 10px;
    }
}